#!/bin/sh

# Graphite host:port
PORT=2003
SERVER=$(docker inspect --format='{{ '{{' }}range .NetworkSettings.Networks{{ '}}' }}{{ '{{' }}.IPAddress{{ '}}' }}{{ '{{' }}end{{ '}}' }}' graphite)

{% for panel in item.qr_codes %}
# ID: {{ item.grafana_code }} CODE: {{ panel }}
COUNT=$(cat /var/log/nginx/ice_access.log|grep '"GET /{{ item.grafana_code }}-{{ panel }}'|egrep -v 'sempi.tech|applebot|Twitterbot|externalhit_uatext.php|datagnionbot|Semanticbot|Mediatoolkitbot' | awk '{print $1}' | uniq| wc -l)
echo qr_counter.{{ item.grafana_code }}.{{ panel }} $COUNT  `date +%s` | netcat ${SERVER} ${PORT} -w0
sleep 0.1

{% endfor %}

COUNT=$(cat /var/log/nginx/ice_access.log|grep '"GET /{{ item.grafana_code }}-ice'|egrep -v 'sempi.tech|applebot|Twitterbot|externalhit_uatext.php|datagnionbot|Semanticbot|Mediatoolkitbot' | awk '{print $1}' | uniq| wc -l)
echo qr_counter.{{ item.grafana_code }}.ice $COUNT  `date +%s` | netcat ${SERVER} ${PORT} -w0
